.intro-info{
    line-height: 30px;
    padding-top: 20px;
}
.container-intro{
    text-align: center;
}
.intro-head{
    font-weight: 600 !important;
    font-size: 25px;
}
.volle-head{
    font-size: 25px !important;
    font-weight: 400 !important;
}
@media (max-width: 992px) {
    .intro-head{
        font-weight: 700;
        font-size: 21px !important;
    }
    .volle-head{
        font-size: 21px !important;
        font-weight: 400 !important;
    }
  }

.intro-main{
  align-items: center;
    display: flex; 
    flex-direction: column;
}
.intro-img{
    width: 100%;
    height: 100%;
}
.info{
    font-size: 15px;
    padding: 10px 0 10px 0;
    line-height: 28px;
   
}