
 .footer {
  background-image: radial-gradient(#cf0f0fcf 30%, #68040bcf) !important;
    width: 100%;
    padding: 50px 24px;
    bottom: 0;
    color: #fff;
  }
  .footer-head {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
  }
  
  .footer-color {
    font-size: 13px;
    cursor: pointer;
    
  }
  .fzMob{
    font-size: 14px !important;
  }